html,body {
	font-family: 'Orbitron', sans-serif;
	height:100%;
	width:100%;
	min-height:100%;
	margin:0;
	padding:0;
 }

 /* Google Fonts Used


    font-family: 'Orbitron', sans-serif;

    font-family: 'Open Sans', sans-serif;

*/

 /*
	background to be added by Awadesh Sir 
  #ig-background 
 */
#ig-background{
	position:fixed;
	z-index: 1;
	width:100%;
	height:100vh;
}
#ig-background img{
	display: block;
	width:100%;
	height:100%;
}
/* only the immediate child img of #ig-`
	width:100%;
	height:100%;
}


/* The main container #wrapper */
#wrapper{
	position: relative;
	z-index:10;
	height:100%;
}
/* header section style */
#header{
	width:100%;
	padding:10px 0;
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.header-nav{
	display:flex;
	justify-content: center;
	min-width: 35%;
}
.nav-left{
	justify-content: space-around;
}
.nav-right{
	justify-content: space-around;
}
.header-nav a{
	text-decoration: none;
	display: inline-block;
	color:#fff;
	font-size:18px;
	font-weight: 900;
	font-variant: small-caps;
	padding:10px;
	transition:all 0.5s ease-in;
}
.header-nav a:hover{
	text-shadow:0 0 3px #fff,0 0 5px #3FC455;
}
/* header logos */
#header-logo{
	display:flex;
	flex-direction: row;
	justify-content: center;
	width:30%;
}
.header-logo{
	padding:0 10px;
	text-align: center;
}
/* not used */
.header-logo img{
	width:50px;
	height:50px;
}
.header-logo-main{
	min-width: 130px;
	min-height: 130px;
	content:'';
}
/* for main nitk logo */
.header-logo-main img{
	width:130px;
	height:130px;
}


/* Main Page Section*/
#page{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 45px;
}
.page-article{
	padding:20px 0;
	width:100%;
	display:block;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
}
.page-img{
	width:100%;
	height:100%;
	text-align: center;
}
.page-img img{
	max-width:500px;
	height:100%;
}

.page-title{
	font-size:80px;
	font-weight: 900;
	color:#3FC455;
	padding:40px 50px;
	font-variant: small-caps;
}
.page-article-left,.page-article-right,.page-article-center{
	width: 33%;
}
.page-article-left{
	text-align: left;
}
.page-article-right{
	text-align: right;
}
.page-subheading{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size:25px;
	font-weight:bold;
	color: #36E7BB;
	padding:20px 0 30px 0;
	color:#fff;
}
.page-subheading span{
	display: block;
	padding:5px;
	text-align: left;
}
.page-subheading:nth-child(even){
	text-align: right;
}
.page-subheading img{
	width:70px;
}
.page-button{
	padding:20px 0;
	display:block;
	text-align: center;
}
.page-button a, .page-article-nav a{
	text-decoration: none;
	font-weight: bold;
	display: inline-block;
	font-size: 15px;
	font-weight:bold;
	padding:15px 30px;
	font-variant: normal;
	border-radius: 20px;
	color:#fff;
	background-color: #3FC455;
	transition:all 0.5s ease-in;
}
.page-button a:hover{
	box-shadow: 0 0 30px -12px #fff
}
/* page-nav */
.page-article-nav{
	text-align: center;
	display:none;
}
.page-article-nav a{
	margin:0 15px;
}
/* .home-nav */
.ig-background-nav{
	position:absolute;
	display:none;
	z-index:1000;
	background-color: rgba(00,00,00,0.80);
	height:100vh;
}
.ig-background-nav span{
	display:block;
}
.home-nav{
}

.home-nav{
	padding:50px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
	height:100vh;
}
.home-nav span{
	display: block;
	padding:20px 0;
}
.home-nav a{
	text-decoration: none;
	color:#fff;
	font-variant: normal;
	font-size:17px;
	 font-family: 'Orbitron', sans-serif;
	word-spacing: 7px;
	letter-spacing: 5px;
}
.home-nav-content{
	display: flex;
	height:100vh;
	flex-direction: column;
	justify-content: center;
}
.home-nav-logo-img{
	width:250px;
	height:250px;
	color:blue;
}

#footer{
	position: absolute;
	width:100%;
	bottom:0;
	min-height:45px;
	text-align: center;
	z-index: 50;
	padding:15px 0;
	font-size:15px;
	background-color:rgba(00,00,00,0.30);
}
#footer a{
	font-size:15px;
	line-height: 15px;
	padding:0 15px;
	color:#fff;
	font-weight:700;
	text-decoration: none;
	transition:all 0.5s ease-in;
}
#footer a:hover{
	color:#3FC455;
}

/* Hidden For Animation */

.header-logo-main img{
	display: none;
}

/* intro subheading register for animation*/
.intro,.register,.page-article-left, .page-article-right{
	display: none;
	transition:all 0.6s ease-in;
}

/* mobile responsive code */

@media all and (max-width: 620px)
{

	#header{
		flex-direction: column;
	}
	.header-logo-main{
		order:1;
	}
	.nav-left{
		order:2;
	}
	.nav-right{
		order:3;
	}
}
@media all and (max-width:1100px)
{
	.page-article{
		flex-direction: column;
	}	
	.page-article-center{
		order:1;
		text-align: center;
		display: block;
		width:100%;
	}
	.page-article-left{
		order:2;
		display:block;
		width:100%;
	}
	.page-article-right{
		order:3;
		display: block;
		width:100%;
	}
	#footer{
		position:static;
	}
}