#header{
    position: absolute;
    z-index:1;
}
#header-logo img{
    width:75px;
    height:auto;
    padding:20px;
}





/*-----------------------------------*/
/*          #footer                  */
/*-----------------------------------*/
#footer{

    background-color:rgba(34,34,34,0.80);
    position: absolute;
    top: calc(100vh - 56px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: "Helvetica Neue",Helvetica,"Lucida Grande",Arial,Sans-Serif;
    text-transform: uppercase;
}
#footer-left{
    width:100%;
}
#footer-right{
    display:flex;
    justify-content: flex-end;
    width:100%;
    padding:0px 20px;
    align-items: flex-end;
}
#footer-logo img{
    width:55px;
    height:auto;
}

#footer .social-links a{
    text-decoration: none;
    display: inline-block;
    color: #efefef;
    padding: 15px 7px;
    font-size:10px;
    transition:all 0.3s ease-in;
}
#footer .social-links a:hover{
    color:#fff;
    text-shadow:0px 0px 7px #fff;
}
#footer .social-links a i{
    color: #dee4e7;
    font-size:14px;
}

/*----------------------------*/
/*----------------------------*/
/*----------------------------*/
#home-wrapper{
    display:none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    background: rgba(00,00,00,0.80);
    z-index: 2000;
}
#home-options{
    display:flex;
    justify-content: flex-start;
    flex-wrap:wrap;
    width:768px;
    padding:150px calc( ( 100% - 768px ) / 2) ;
}
#home-options a{
    display:flex;
    width:calc(20% - 40px);
    padding:20px 10px;
    margin:10px;
    background-color:;
    color:#fff;
    text-decoration:none;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    font-size:40px;
}
#home-options a span{
    font-size:14px;
    display:block;
    width:calc(100% - 20px);
    padding:25px 10px 10px;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,"Lucida Grande",Arial,Sans-Serif;
}
#home-options a:hover{
    background-color:rgba(255,255,255,0.70);
}